*{
	margin: 0;
	padding: 0;
}
img{
	border-style: solid;
	border-width: 2px;
}
img.top{
	float: left;
	margin: 10px;
}
img.middle{
	float: right;
	margin: 10px;
}
img.bottom{
	float: left;
	margin: 10px;
}
main.tekst{
	width: 780px;
	margin: 0 auto;
	background-color: #C1E8E8;
	text-decoration: none;
	padding: 0 10px;
}
p.tekst1{
	margin: 0 auto;
	font-size: 115%;
}
h2{
	margin-bottom: 10px;
}